<log4net debug="false">

    <root>
        <level value="ALL"/>
        <appender-ref ref="file"/>
        <appender-ref ref="file2"/>
    </root>

    <appender name="file" type="log4net.Appender.RollingFileAppender">
        <file value="Logs\LogFile.log"/>
        <preserveLogFileNameExtension value="true"/>
        <appendToFile value="true"/>
        <rollingStyle value="Date"/>
        <datePattern value="_yyyyMMdd"/>
        <maximumFileSize value="10MB"/>
        <staticLogFileName value="false"/>
        <maxSizeRollBackups value="2"/>
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%level %date [%thread] %logger - %message%newline"/>
        </layout>
    </appender>

    <appender name="file2" type="log4net.Appender.RollingFileAppender">
        <file type="log4net.Util.PatternString" value="Logs\LogFile2.log"/>
        <preserveLogFileNameExtension value="true"/>
        <appendToFile value="true"/>
        <rollingStyle value="Date"/>
        <datePattern value="_yyyyMMdd"/>
        <maximumFileSize value="10MB"/>
        <staticLogFileName value="false"/>
        <maxSizeRollBackups value="0"/>
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%level %date [%thread] %logger - %message%newline"/>
        </layout>
    </appender>

</log4net>